<h3>Add Comment</h3>

<%= render 'errors', model: @comment %>

<%= form_for [@article, @comment] do |f| %>
  <div class="form-group">
    <%= f.label :commenter  %><br>
    <%= f.text_field :commenter, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body %></br>
    <%= f.text_area :body, class: "form-control" %></br>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
